/**
  body {
    background-color: #d77d7d;
    font-size: 50px;
  }
  
  .img {
    border: solid 1px #ccc;
  }
*/

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}
